* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background: #686de0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  height: 100vh;
  padding: 1.5em;
}

.card-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  padding: 3em 2em;
  text-align: center;
  max-width: 100%;
  width: 50em;
  
}

.card__heading {
  margin-bottom: 1em;
  opacity: 0.5;
  letter-spacing: 2px;
}

.joke {
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 2.5rem;
  margin-bottom: 1em;
}

.btn {
  cursor: pointer;
  background-color: #9F68E0;
  border: 0;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  padding: 1em 2.5em;
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}

.btn i {
  margin-left: 0.5em;
  transition: transform 0.2s ease;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.95);
}

.btn:active > i {
  transform: translateX(0.5em);
}